body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  /* overflow: hidden; */
}

/* ===================NORMALIZE=================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ===================/NORMALIZE=================== */

/* ===================VAR=================== */
:root {
  --brand-color: #4d5ae5;

  --pressed-color: #404bbf;

  --white-color: #fff;

  --primary-color: #2e2f42;

  --text-color: #434455;
  --cloud-color: #f4f4fd;
  --light-slate: #8e8f99;
}
/* ===================/VAR=================== */

/* ===================COMPONENTS=================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--brand-color);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-color);
}
.section-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.card-descr {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hide {
  display: none;
}
/* ===================/COMPONENTS=================== */

/* ===================HEADER=================== */
.header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--white-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  min-width: 320px;
  max-width: 428px;
  padding: 25px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header-container {
    min-width: 768px;
    max-width: 1158px;
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}
.menu-item {
  display: flex;
  gap: 40px;
}
.logo {
  color: var(--brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
@media (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.logo-part {
  color: var(--primary-color);
}
.menu-item-link {
  display: block;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}
@media (min-width: 768px) {
  .menu-item-link {
    display: block;
  }
}
.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--pressed-color);
}
.active {
  position: relative;
  color: var(--pressed-color);
}
.active::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--pressed-color, #404bbf);
}
.contact {
  font-style: normal;
  display: none;
}
.contact-item-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .contact {
    display: block;
  }
  .contact-item {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: auto;
  }
  .contact-item-link {
    padding: 0;
  }
}
@media (min-width: 1158px) {
  .contact-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }
  .contact-item-link {
    padding: 25px 0;
  }
}
.contact-item-link:hover {
  color: var(--pressed-color);
}
.contact-item-link:focus {
  color: var(--pressed-color);
}
.header-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-menu-burger {
    display: none;
  }
}

/* ===================/HEADER=================== */

/* ===================Mobile Menu=================== */
.menu-container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu-link {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-link.current {
  color: var(--pressed-color);
}
.mobile-menu-close-icon {
  fill: var(--primary-color);
}
.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.mobile-menu-contacts-tel {
  color: var(--brand-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-contacts-email {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2em;
}
.team-social-wrapper.mobile-menu-social-wrapper {
  justify-content: start;
  gap: 56px;
}

@media (max-width: 375px) {
  .mobile-menu-contacts-tel {
    font-size: 25px;
  }
  .team-social-wrapper.mobile-menu-social-wrapper {
    justify-content: space-between;
    gap: 0;
  }
}
/* =============/Mobile Menu=================== */

/* ===================HERO=================== */
.hero {
  min-height: 428px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-bg@1x-mobile.jpg');
}
@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-bg@2x-mobile.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-bg@1x-tablet.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-bg@2x-tablet.jpg');
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-bg@1x-desk.jpg');
  }
}
@media only screen and (min-width: 1168px) and (min-device-pixel-ratio: 2),
  (min-width: 1168px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-bg@2x-desk.jpg');
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--white-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.btn-hero {
  display: block;
  margin: 0 auto;
  min-width: 169px;
}
@media (min-width: 428px) {
}
@media (min-width: 768px) {
  .hero {
    min-height: 436px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media (min-width: 1158px) {
  .hero {
    min-height: 600px;
  }
}
/* ===================/HERO=================== */

/* ===================ADVANTAGES=================== */
.advantages {
  padding: 96px 0;
}
.advantages-container {
  padding: 0 16px;
}
.advantages-icon-wrapper {
  display: none;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
.card-item {
  max-width: 396px;
}
.card-title {
  margin-bottom: 8px;
}
.advantages-card-title {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.advantages-card-descr {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) {
  .card-wrapper {
    column-gap: 24px;
  }
  .card-item {
    max-width: 356px;
  }
  .card-title {
    text-align: start;
  }
}
@media (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
    min-height: 344px;
  }
  .advantages-icon-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .advantages-icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--cloud-color, #f4f4fd);
    margin-bottom: 8px;
  }
  .advantages-icon-img {
    width: 64px;
    height: 64px;
  }
  .card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-card-title {
    font-size: 20px;
    font-weight: 500;
  }
  .advantages-card-descr {
    font-weight: 400;
  }
  .card-item {
    max-width: 264px;
  }
}
/* ===================/ADVANTAGES=================== */

/* ===================DOING=================== */
.doing {
  min-height: 500px;
  padding: 120px 0;
}
.doing-title {
  margin-bottom: 72px;
}
.doing-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (min-width: 320px) and (max-width: 1158px) {
  .doing {
    display: none;
  }
}
/* ===================/DOING=================== */

/* ===================TEAM=================== */
.team {
  background-color: var(--cloud-color);
  min-height: 732px;
  padding: 96px 0;
}
.team-title {
  margin-bottom: 72px;
}
.team-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}
.team-card {
  background-color: var(--white-color);
  width: 264px;
  min-height: 348px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-text-wrapper {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card-title {
  text-align: center;
}
.team-card-descr {
  text-align: center;
  margin-bottom: 8px;
}
.team-social-wrapper {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-color);
}
.team-social-img {
  fill: var(--cloud-color);
}

@media (min-width: 428px) {
}
@media (min-width: 768px) {
  .team-card-wrapper {
    row-gap: 64px;
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-card-wrapper {
    justify-content: space-between;
    max-width: 1158px;
  }
}

/* ===================/TEAM=================== */

/* ===================CUSTOMERS=================== */
.customers {
  padding: 120px 0;
}
.customers-container {
  padding: 0 16px;
  max-width: 768px;
}
.customers-title {
  margin-bottom: 72px;
}
.customers-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.customers-item {
  /* width: 190px; */
  width: calc((100% - 32px) / 2);
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: var(--pressed-color);
}
.customers-img {
  fill: currentColor;
}
@media (min-width: 428px) {
  .customers-wrapper {
    gap: 24px;
  }
  .customers-item {
    width: 168px;
    height: 88px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1158px) {
  .customers-container {
    max-width: 1158px;
  }
  .customers-wrapper {
    flex-wrap: nowrap;
  }
}

/* ===================/CUSTOMERS=================== */

/* ===================FOOTER=================== */
.footer {
  background-color: var(--primary-color);
  min-height: 312px;
}
.footer-wrapper {
  padding: 97px 16px;
  max-width: 428px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-first-wrapper {
  text-align: center;
  margin-bottom: 72px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-part-footer {
  color: var(--cloud-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-descr {
  color: var(--cloud-color);
  width: 268px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer-second-wrapper {
  margin-bottom: 72px;
}
.footer-social-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
  text-align: center;
}
.footer-social-icons {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-img {
  fill: var(--cloud-color);
}

.footer-third-wrapper {
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
}
.footer-form-label {
  margin-bottom: 16px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.footer-form-input {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  opacity: 0.3;
  border: 1px solid var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;

  color: var(--white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.footer-form-input::placeholder {
  color: var(--white-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-form-btn {
  margin: 0 auto;
  max-width: 165px;
  /* min-width: 165px; */
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
  border-radius: 4px;
  background: var(--brand-color);
  cursor: pointer;
  border: none;

  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background: var(--pressed-color);
}
.footer-form-btn-img {
  fill: #fff;
  margin-left: 16px;
}
@media (min-width: 428px) {
}
@media (min-width: 768px) {
  .footer-wrapper {
    padding: 97px 108px;
    max-width: 768px;
    justify-content: start;
  }
  .footer-first-wrapper {
    justify-content: start;
    text-align: left;
    margin-right: 24px;
  }
  .footer-descr {
    width: 264px;
  }
  .footer-form {
    flex-direction: row;
    align-items: baseline;
    gap: 24px;
  }
  .footer-form-label {
    text-align: left;
  }
  .footer-form-input {
    width: 264px;
  }
  .footer-form-btn {
    margin: 0;
  }
}
@media (min-width: 1158px) {
  .footer-wrapper {
    padding: 100px 15px;
    flex-wrap: nowrap;
    max-width: 1158px;
  }
  .footer-first-wrapper {
    margin-right: 120px;
    text-align: left;
  }
  .footer-second-wrapper {
    margin-right: 80px;
  }
  .footer-form-input {
    opacity: 1;
  }
}
/* ===================/FOOTER=================== */

/* ===================MODAL=================== */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding-top: 80px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 392px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-close-btn:hover,
.modal-window-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-window-close-img {
  display: block;
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-close-btn:hover .modal-window-close-img {
  fill: #ffffff;
  /* transform: rotate(180deg); */
}
.modal-window-close-btn:focus .modal-window-close-img {
  fill: #ffffff;
}
.modal-form-title {
  width: 100%;
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-form-wrapper {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  color: var(--light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.form-input {
  height: 40px;
  width: 100%;
  padding: 8px 38px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, #2e2f4266);
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.form-input:focus {
  border-color: var(--brand-color);
}
.form-input-wrapper {
  position: relative;
}
.form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-input-icon {
  fill: var(--brand-color);
}
.form-comment-wrapper {
  margin-bottom: 16px;
}
.form-input-comment {
  padding: 8px 16px;
  resize: none;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-checkbox-wrapper {
  margin-bottom: 24px;
}
.form-checkbox-icon {
  fill: #ffff;
}
.form-label-checkbox {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-base-checkbox:checked + .form-label-checkbox .form-custom-checkbox {
  background-color: var(--pressed-color);
  border: none;
  fill: var(--cloud-color);
}
.form-label-checkbox-link {
  color: var(--brand-color);
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 320px) and (max-width: 375px) {
  .modal-window {
    width: 315px;
  }
}
@media (min-width: 768px) {
  .modal-window {
    width: 408px;
  }
}

/* ===================/MODAL=================== */

/*** =================PORTFOLIO=================== ***/
.portfolio {
  min-height: 1692px;
  padding: 48px 0;
}
/* ===================Filter buttons=================== */
.filter-btn-wrapper {
  display: flex;
  column-gap: 24px;
  row-gap: 16px;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.filter-button {
  padding: 12px 24px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: var(--cloud-color);
  color: var(--brand-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--pressed-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}
/* ===================/Filter buttons=================== */

/* ===================Gellery=================== */
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}
.gallery-item {
  max-width: 396px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item-link:hover,
.gallery-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-item-overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.gallery-item-img {
  width: 396px;
}
.gallery-item-overlay {
  position: absolute;
  padding: 40px 32px;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--brand-color);
  color: var(--cloud-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item-link:hover .gallery-item-overlay {
  transform: translateY(0);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.gallery-item-link:focus .gallery-item-overlay {
  transform: translateY(0);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.gallery-card-text-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  background: var(--WHITE, #fff);
  padding: 32px 16px;
}
.gallery-card-title {
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .portfolio {
    padding: 64px 0 96px 0;
  }
  .filter-btn-wrapper {
    justify-content: center;
    margin-bottom: 64px;
  }
  .gallery-wrapper {
    row-gap: 72px;
  }
  .gallery-item {
    max-width: 356px;
  }
}
@media (min-width: 1158px) {
  .portfolio {
    padding: 100px 0 120px 0;
  }
  .filter-btn-wrapper {
    margin-bottom: 72px;
  }
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }
  .gallery-wrapper {
    row-gap: 48px;
  }
}

/* ===================/Gellery=================== */
